{% extends 'layout.html.twig' %}

{% block title %}Подробная информация | {{ path | default('root') }}{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Подробная информация</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="card-body">
                        {% for property in properties %}
                            <div class="form-group row">
                                <label for="field-1" class="col-sm-4 col-form-label">{{ property.name }}</label>
                                <div class="col-sm-8">
                                    {% if property.type == 'propertyList' %}
                                        <a href="{{ path('detail') }}?q={{ path }}.{{ property.name }}"
                                           tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ property.name }}"
                                        >info</a>
                                    {% elseif property.type == 'table' %}
                                        <a href="#{{ property.name }}">table</a>
                                    {% else %}
                                        {{ data[property.name] }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="btn-group-vertical btn-block">
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>

        </div>
        {% for propertyItem in propertyList %}
            <div class="col-md-4">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ propertyItem.name }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            {% for property in propertyItem.property %}
                                <div class="form-group row">
                                    <label for="field-1" class="col-sm-4 col-form-label">{{ property.name }}</label>
                                    <div class="col-sm-8">
                                        {% if property.type == 'propertyList' %}
                                            <a href="{{ path('detail') }}?q={{ path }}.{{ propertyItem.name }}.{{ property.name }}"
                                               tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ propertyItem.name }}.{{ property.name }}"
                                            >info</a>
                                        {% elseif property.type == 'table' %}
                                            <a href="{{ path('detail') }}?q={{ path }}.{{ propertyItem.name }}"
                                               tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ propertyItem.name }}"
                                            >info</a>
                                        {% else %}
                                            {{ data[propertyItem.name][property.name] }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="btn-group-vertical btn-block">
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        {% endfor %}

    </div>
    {% for table in tables %}
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title" id="{{ table.name }}">
                {{ table.name }}
            </h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="5"></th>
                    {% for property in table.property %}
                        <th>{{ property.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set list = data[table.name] %}
                {% for key, item  in list %}
                    <tr>
                        <td>
                            <a href="{{ path('detail') }}?q={{ path }}.{{ table.name }}.{{ key }}"
                               class="btn btn-info btn-sm"
                               tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ table.name }}.{{ key }}"
                            >
                                <span class="fas fa-info"></span>
                            </a>
                        </td>
                        {% for property in table.property %}
                            <td>
                                {% if property.type == 'propertyList' %}
                                    <a href="{{ path('detail') }}?q={{ path }}.{{ table.name }}.{{ key }}.{{ property.name }}"
                                       tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ table.name }}.{{ key }}.{{ property.name }}"
                                    >info</a>
                                {% elseif property.type == 'table' %}
                                    <a href="{{ path('detail') }}?q={{ path }}.{{ table.name }}.{{ key }}"
                                       tooltip-href="{{ path('tooltip') }}?q={{ path }}.{{ table.name }}.{{ key }}"
                                    >info</a>
                                {% else %}
                                    {{list[key][property.name] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

{% endblock %}